@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Slab:wght@300;400;500;700&display=swap);

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 4%;
  background-color: #f5f6fa;
}

#root {
  margin: 0;
  padding: 0 0 4% 0;
  border-radius: 4px;
  height: auto;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
  width: 92%;
  gap: 2vh;
  background-color: #fff;
  padding: 24px 4%;
  border-bottom: solid 1px #e8e8e8;
}

.title {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.a {
  text-decoration: none;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.a.active {
  opacity: 1;
  color: #121212;
}

.icon {
  width: 34px;
  height: 34px;
}

.section {
  padding: 4%;
}

.allbooks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 0.938rem;
  gap: 0.938rem;
}

hr {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem 0;
  opacity: 0.4;
}

.book {
  background-color: white;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.book-1 {
  width: 60%;
}

.book-2 {
  width: 15%;
  display: flex;
  align-items: center;
}

.book-3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress {
  position: absolute;
  border: solid 5px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.perc {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.percent {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #121212;
}

.comp {
  font-family: "Montserrat", sans-serif;
  font-size: 00.875rem;
  opacity: 0.5;
  color: #121212;
}

.divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.book-3 p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 0.438rem;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.4px;
}

.chapt-hd {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 10px;
  color: #121212;
  opacity: 0.5;
}

.update {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 12px;
  color: white;
}

.book-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-category {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
  font-weight: bold;
  color: #121212;
}

.book-author {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.buttons {
  margin-top: 2%;
  display: flex;
  gap: 1vw;
}

.buttons button {
  font-family: "Roboto Slab", serif;
  background: none;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.buttons span {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

a {
  color: inherit;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
  margin: 24px 0;
  width: 50%;
}

.input.author {
  width: 20%;
}

.submit-book {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
  width: 18%;
  height: 46px;
}
